<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Equipment Tracker</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Equipment<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/equipment/create">Add</a></li>
                </ul>
            </li>
            <li><a href="#" id="signout-button" style="display: none">Logout(<span id="heading-name">Anonymous</span>)</a>
            </li>
        </ul>
    </div>
</nav>